
{% extends 'base.html' %} {% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %} {% endblock %}


<!-- Content block -->
{% block content %}
<div class="container-fluid mt-3">
  <p>Do you want to write a review. Sign up <a href="auth/login">here</a></p>
  <p>Already signed in? Write a review <a href="/new">here</a>.</p>
  <div class="row">
      {{macro.displayReviewList(reviews)}}
  </div>
</div>
<style>
  body{
    background-color: rgba(165, 165, 165, 0.144);
  }
</style>
{% endblock %}
